body {
	background-color: #121212;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgb(197, 196, 196);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(149, 149, 149);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(175, 175, 175);
  }